<h1 class="display-6 mb-3 mt-5 mx-3" >
      <%= pluralize(@services.count, 'Services') %> are found when searching for : <%= params[:keywords] %>
 </h1>

<ol class="list-group list-group-flush" >
<% @services.each do |service| %>

<li class="list-group-item" > <%= link_to service.name, service  %> </li>

<% end %>
</ol>