<h1 class="display-6 mb-3 mt-5 mx-3" > Service Categories </h1>

<ol class="list-group list-group-flush">
    <% @types.each do |type| %>
    <li class="list-group-item"> <%= link_to type.name, type %> </li>
    <% end %>
</ol>
