 <div class="d-flex justify-content-center">
<p class="h4 ">Cloud Project <small class="text-muted">Made by Sahil Mehar</small></p>
</div>

  <div class="mt-5 p-5 container-lg ml-auto  mr-auto  border " >

<%= image_tag "erd.jpg" , width: "840" , height: "540", data: { title: 'ERD Daigram' } %>

 <p class= ' mt-5 '>There are 5 tables in which cloud should have many services but one serice should have one cloud</p>

  <p class= 'mt-5'> One service is of one type whereas types have many services  </p>

   <p class= 'mt-5'> Many companies are using multipe services and many services are used my many companies  </p>


</div>


