<h1 class="display-6 mb-3 mt-5 mx-3" >
      <%= pluralize(@companies.count, 'Company') %> are found when searching for : <%= params[:keywords] %>
 </h1>

<ol class="list-group list-group-flush" >
<% @companies.each do |company| %>

<li class="list-group-item" > <%= link_to company.name, company %> </li>

<% end %>
</ol>