<h1 class="display-6 mb-4 mt-5 mx-3" > All Cloud Providers </h1>

 <%=  form_with(url: search_clouds_path, method: "get", local:true) do |form|  %>
        <div class="d-flex">
        <%=  text_field_tag(:keywords, nil, class: "form-control me-2", placeholder: "Search for Cloud Providers") %>
        <%= submit_tag("Search", class: "btn btn-outline-success") %>

        </div>
      <% end %>

<ol class="list-group list-group-flush mt-5">
    <% @clouds.each do |cloud| %>
    <li class="list-group-item"> <%= link_to cloud.name, cloud %> </li>
    <% end %>
</ol>

