<% content_for(:html_title) {@cloud.name} %>

<h2 class="display-6 mb-3 mt-5 mx-3" > <%= @cloud.name %> </h2>


<samp>Services Proved by <%= @cloud.name %> :</samp>

<ol class="list-group list-group-flush">
    <% @cloud.services.each do |services| %>
    <li class="list-group-item"> <%= link_to services.name, services %> </li>
    <% end %>
</ol>

